/* Root */

:root {
  /* Pink scheme */

  --accent-color: #FF00DD;
  --accent-color-lighter: #ff5be9;
  --accent-color-light: #FFB8F6;
  --accent-color-lightest: #FFD9FA;
  --accent-color-semi-transparent: #ffd9fa62;
  --select-color: #ffa3f3;

  /* Cyan scheme */

  /* --accent-color: #00FFFF;
  --accent-color-light: #B8FFFF;
  --accent-color-lightest: #D9FFFF; */

  /* Red scheme */

  /* --accent-color: #FF0000;
  --accent-color-light: #FFB8B8;
  --accent-color-lightest: #FFD9D9; */

  /* Blue scheme */

  /* --accent-color: #1100ff;
  --accent-color-light: #bfb8ff;
  --accent-color-lightest: #e1d9ff; */

  /* Lime scheme */

  /* --accent-color: #00ff22;
  --accent-color-light: #b8ffbc;
  --accent-color-lightest: #daffd9; */
}

/* Fonts */

.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Main styles */

::selection {
  background-color: var(--select-color);
  color: #FFFC;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline-color: var(--accent-color);
}

.hidden {
    display: none;
  }

.scroll-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle at 30% 30%, var(--accent-color), var(--accent-color-light));
  border: none;
  border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  z-index: 10;
  animation: blobFloat 6s infinite ease-in-out;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.scroll-to-top-btn.visible {
  opacity: 1;
  visibility: visible;
}

.scroll-to-top-btn i {
  font-size: 2rem;
  color: white;
}

.glass-header {
    background: var(--accent-color-semi-transparent); /* Светлый полупрозрачный фон */
    backdrop-filter: blur(3px); /* Эффект матового стекла */
    -webkit-backdrop-filter: blur(12px); /* Для Safari */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Небольшая тень */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Эффект границы */
    border-radius: 0 0 40px 40px; /* Скругление нижних углов */
    transition: background 0.3s ease, transform 0.4s ease;
}

.glass-header.hidden {
    transform: translateY(-100%);
}

.glass-footer {
    background: var(--accent-color-semi-transparent); /* Светлый полупрозрачный фон */
    backdrop-filter: blur(3px); /* Эффект матового стекла */
    -webkit-backdrop-filter: blur(12px); /* Для Safari */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Небольшая тень */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Эффект границы */
    border-radius: 40px 40px 0 0; /* Скругление верхних углов */
    transition: background 0.3s ease, transform 0.4s ease;
    width: 100%;
    bottom: 0;
}

.logo {
  transition: .1s transform ease-in-out;
}

.logo a {
  text-decoration: none;
}

.logo:hover{
  transform: scale(1.1);
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0 1rem;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:hover::after {
  width: 100%;
}

.paragraph {
  text-indent: 1.5em;
  text-align: justify;
}

.indent-basic {
  text-indent: 1em;
}

.indent-double {
  text-indent: 2em;
}

.indent-link-double {
  margin-left: 2em;
}

.paragraph-image {
  border-radius: 20px;
}

.accent-text {
  color: var(--accent-color);
  text-decoration: underline;
}

a.accent-text:hover {
  color: var(--accent-color-lighter);
}

.colored-text {
  color: var(--accent-color);
}

.glass_btn-primary {
  background: var(--accent-color-semi-transparent); /* Светлый полупрозрачный фон */
  backdrop-filter: blur(3px); /* Эффект матового стекла */
  -webkit-backdrop-filter: blur(12px); /* Для Safari */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Небольшая тень */
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Эффект границы */
  border-radius: 24px; /* Скругление верхних углов */
  transition: background 0.3s ease, transform 0.4s ease;
}

.glass_btn-primary:hover {
  background: var(--accent-color-light);
  color: white;
  transform: translateY(-2px);
}

.glass_btn-secondary {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: color .3s;
  border: 4px solid whitesmoke;
  border-radius: 100px;
  background: linear-gradient(135deg, var(--accent-color-light), var(--accent-color));
}

.glass_btn-secondary:hover {
  background-color: var(--accent-color-lighter);
  color: white;
} 

/* Cards */

.card {
  background-color: whitesmoke !important;
}

/* Socials */

.social-links {
  width: 300px;
}

.social-square {
  width: 65px;
  height: 65px;
  background-color: var(--accent-color-light);
  border-radius: 30%;
  display: inline-block;
  margin-right: 25px;
  opacity: 100%;
}

.social-icon img {
  width: 65px;
  height: 65px;
  transition: transform 0.3s;
}

.social-icon:hover img {
  transform: translate(-10px, -10px);
}

/* Welcome */

.welcome-image-square {
  background-color: var(--accent-color-lightest);
  width: 400px;
  height: 400px;
  position: relative;
  transform: translate(+20px, +20px);
  border-radius: 20px;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
  will-change: transform;
}
.welcome-image-square img {
  width: 400px;
  height: 400px;
  transform: translate(-20px, -20px);
  border-radius: 20px;
  background-color: var(--accent-color-light);
}

.cursor {
  display: inline-block;
  animation: blink 0.7s step-end infinite;
  color: var(--accent-color);
}

.readmore a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 400;
  color: white;
  transition: color .3s;
  border: 4px solid whitesmoke;
  border-radius: 100px;
  background: linear-gradient(135deg, var(--accent-color-light), var(--accent-color));
}

.readmore a::after {
  content: '';
  position: absolute;
  left: 8%;
  bottom: 12px;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s;
}

.readmore a:hover {
  color: var(--accent-color);
  background: linear-gradient(135deg, var(--accent-color-lightest), var(--accent-color-light));
}

.readmore a:hover::after {
  width:85%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.blob-wrapper {
  position: fixed;
  z-index: -1;
  pointer-events: none;
  transition: transform 0.2s ease-out;
}

.blob {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle at 30% 30%, var(--accent-color), var(--accent-color-lightest));
  opacity: 0.15;
  filter: blur(5px);
  border-radius: 40% 60% 60% 40% / 50% 40% 60% 50%;
  animation: blobFloat 5s infinite ease-in-out;
}

@keyframes blobFloat {
  0%, 100% {
    border-radius: 20% 58% 60% 40% / 40% 50% 50% 60%;
    transform: scale(1);
  }
  50% {
    border-radius: 60% 40% 40% 60% / 50% 60% 40% 50%;
    transform: scale(1.2);
  }
}

/* Card */

.glass-card {
  background: var(--accent-color-semi-transparent);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  box-shadow:
    0 4px 30px #dfdfdf,
    inset 0 1px 1px rgb(255, 255, 255);
  overflow: hidden;
  position: relative;
  color: white;
} 

.glass-card::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba(255, 255, 255);
  z-index: 2;
}
.glass-card > * {
  position: relative;
  z-index: 1;
}

/* Тело карточки */

.glass-card-header,
.glass-card-body,
.glass-card-footer {
  font-weight: 400;
}

.glass-card-footer p {
  color: var(--accent-color-light);
}

/* Photography */

.scene {
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: absolute;
  top: 320%;
  left: 0;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-1000px) rotateY(-180deg) translateX(35%);
}


.carousel img {
  position: absolute;
  width: 30%;
  object-fit: cover;
  opacity: 0.45;
  border-radius: 10px;
  transform-origin: center center -500px;
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.carousel img:nth-child(1) {
  --angle: -90deg;
  transform: rotateY(var(--angle)) translateZ(500px);
  animation-duration: 5s;
  animation-delay: 0s;
}
.carousel img:nth-child(2) {
  --angle: -45deg;
  transform: rotateY(var(--angle)) translateZ(500px);
  animation-duration: 6.3s;
  animation-delay: 0.8s;
}
.carousel img:nth-child(3) {
  --angle: 0deg;
  transform: rotateY(var(--angle)) translateZ(500px);
  animation-duration: 5.6s;
  animation-delay: 0.4s;
}
.carousel img:nth-child(4) {
  --angle: 45deg;
  transform: rotateY(var(--angle)) translateZ(500px);
  animation-duration: 6s;
  animation-delay: 1.2s;
}
.carousel img:nth-child(5) {
  --angle: 90deg;
  transform: rotateY(var(--angle)) translateZ(500px);
  animation-duration: 5.2s;
  animation-delay: 0.6s;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity 0.6s ease-in-out;
}

.fade-in {
  opacity: 0.35;
  transition: opacity 0.6s ease-in-out;
}

@keyframes float {
  0%   { transform: rotateY(var(--angle)) translateZ(500px) translateY(0); }
  50%  { transform: rotateY(var(--angle)) translateZ(500px) translateY(-60px); }
  100% { transform: rotateY(var(--angle)) translateZ(500px) translateY(0); }
}

/* Mobile */

@media (max-width: 768px) {

  .hidden {
    display: inline;
  }
  .mobile-hidden {
    display: none;
  }

  .glass-header {
    border-radius: 0 0 18px 18px;
  }
  .hero-banner-row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .welcome-image-square {
    margin-bottom: 20px;
  }
}